*{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 220px;
    color: white;
    background-color: #282a35;
}
.header-title{
    font-size: 36px;

}
.header-nav-list{
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 20px;
}
.header-nav-list-item:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer{
    background-color: #282a35;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    padding: 20px;
    margin-bottom: 120px;
}
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    background-color: #282a35;
    color: white;
    border: 1px black solid;
    border-radius:3px;
    padding: 15px;
}
.main-text{
    color: #03ab6d;
    font-size: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-title{
    font-size: 48px;
    color: #03ab6d;
    margin-bottom: 24px;
}
.form-inputs{
    max-width: 24rem;
    color: #6b7280;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 50px;
}
.form-label{
    padding-right: 16px;
    justify-self: center;
    width: 40%;
}
.form-inputs input{
    width: 60%;
    padding: 8px;
    background-color: #e5e7eb;
    border: none;
    border-radius: 4px;
}
button{
    background-color: #03ab6d;
    border: none;
    color: white;
    border-radius: 4px;
    width: fit-content;
    justify-self: center;
    align-self: center;
    padding: 10px;
}
.btn{
    padding: 5px;
    margin-top: 10px;
}
.details{
    text-decoration: none;
    color: white;
}